@import "variables.scss";


@mixin btn(
    $width : 100px,
    $height : 50px,
    $padding:  0px 0px 0px 40px,
    $radius : 40px,
    $btncolor : $light-color,
    $btnbg: $dark-color,
    $hbtncolor : $dark-color,
    $hbtnbgcolor: $primary-color ){
     width: $width;
    height: $height;
    padding: $padding;
    border-radius: $radius;
    align-content: center;
    cursor: pointer;
    color: $btncolor;
    background-color: $btnbg;
    margin-top: 40px;
     &:hover{
        color: $hbtncolor;
        background-color: $hbtnbgcolor;
    }
    a{
        text-decoration: none;
        color: $btncolor;
        &:hover{
            color: $hbtncolor;
        }

    }
}
.btn1{
   @include btn();
}
.btn2{
    @include btn($radius: 10px,$btncolor: $light-color,$btnbg: $primary-color,$hbtncolor: $dark-color,$hbtnbgcolor: $primary-color);
}

.btn3{
    @include btn($radius: 20px 0px 20px 0px,$btncolor: $light-color,$btnbg: $primary-color,$hbtncolor: $dark-color,$hbtnbgcolor: $primary-color);
}

.btn4{
   @include btn($radius:0px 20px 0px 20px);
}

.btn4{
   @include btn($radius:0px 20px 0px 20px);
}

.btn5{
   @include btn($radius:0px 20px 0px 20px);
}

.btn6{
   @include btn($radius:0px 20px 0px 20px);
}

.btn7{
   @include btn($radius:0px 20px 0px 20px);
}