@import "variables.scss";
@import "button.scss";
@import "cards.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a{
        color: $light-color;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color: $primary-color;
        }
     }
     ul{
        list-style: none;
     }
}


//navbar1
.navbar1{
    background-color: $dark-color;
    padding-right: 15px;
    padding-left: 15px;
    .nav1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        .logo1{
            font-size: 35px;
            color: $light-color;
            font-weight: 600;
        }
        li{
            display: inline-block;
            margin-left: 30px;
            margin-right: 30px;
        }
    }

}

//navbar2
.navbar2{
    margin-top: 20px;
    background-color: $primary-color;
    padding: 10px 25px 40px 0px;
    height: 80px;
    .nav2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        .logo2{
           padding-left: 50px;
            font-size: 35px;
            color: $light-color;
            font-weight: 600;
        }
        li{
            display: inline-block;
            padding: 20px;
            justify-content: space-between;
            margin-left: 30px;
            margin-right: 30px;
            a{
                &:hover{
                    color: #000;
                }
            }
        }
    }

}
    